*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navigation{
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 30px;
  justify-content: center;
}

.Navigation a {
  margin: 0 12px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: #c0c0c0;

} 

.Navigation a:hover{
  color: white;
}


